#stats a {
  color: #365aa2;
}
#stats a:hover {
  color: #2d5ef2;
}
#stats .panel-widget .widget-heading {
  background-color: #ffffff;
  color: #0a2540;
  border: none;
  text-transform: none;
  font-size: 14px;
  font-weight: 600;
  padding: 22px 22px 10px 22px;
}
html[dir="rtl"] #stats .panel-widget .widget-heading {
  padding: 22px 22px 10px 22px;
}
#stats .panel-widget td {
  padding: 8px 24px;
}
#stats .panel-widget td .general-info-label {
  font-size: 12px;
  color: #586376;
}
#stats .panel-widget td .general-info-value {
  font-size: 14px;
}
#stats .panel-widget .app-stat-data .ssl-error-icon {
  color: #f1c40f;
  font-size: 18px;
}
#stats .panel-widget .app-stat-data .ssl-link-container {
  display: flex;
  justify-content: center;
}
html[dir="ltr"] #stats .panel-widget .app-stat-data .ssl-link-container {
  padding-right: 8px;
}
html[dir="rtl"] #stats .panel-widget .app-stat-data .ssl-link-container {
  padding-left: 8px;
}
#stats .panel-widget .app-stat-data .ssl-link-container .link-button {
  background-color: #e7ecfc;
  color: #365aa2;
  border: 1px solid #365aa2;
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  font-weight: 500;
  margin: 9px 0 6px 0;
  padding: 6px;
}
#stats .panel-widget .app-stat-data .ssl-link-container .link-button:hover {
  text-decoration: none;
  color: #3264fc;
  border: 1px solid #2d5ef2;
}
html[dir="ltr"] #stats .panel-widget .app-stat-data .ssl-link-container .link-button i {
  margin-right: 3px;
}
html[dir="rtl"] #stats .panel-widget .app-stat-data .ssl-link-container .link-button i {
  margin-left: 3px;
}
#stats .panel-widget#generalInfoSection table > tbody > tr:last-child :hover {
  background-color: #f7f9fc;
}
#stats .panel-widget#generalInfoSection table > tbody > tr:last-child > td {
  padding: 0;
}
#stats .panel-widget#generalInfoSection table > tbody > tr:last-child > td a {
  display: block;
  padding: 16px 24px 16px 24px;
}
#stats .panel-widget#generalInfoSection table > tbody > tr:last-child > td a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  float: right;
  color: #8f9bb3;
}
html[dir="rtl"] #stats .panel-widget#generalInfoSection table > tbody > tr:last-child > td a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f053";
  float: left;
}
#stats #statsSection .app-name {
  color: #586376;
  font-size: 12px;
  font-weight: 600;
}
#stats #statsSection .warning > .app-stat-data,
#stats #statsSection .info > .app-stat-data,
#stats #statsSection .success > .app-stat-data,
#stats #statsSection .danger > .app-stat-data {
  background-color: transparent;
  box-shadow: none;
}
#stats #statsSection .limits-wrapper {
  display: flex;
}
html[dir="ltr"] #stats #statsSection .limits-wrapper {
  margin-right: 4px;
}
html[dir="rtl"] #stats #statsSection .limits-wrapper {
  margin-left: 4px;
}
#stats #statsSection .limits-data {
  flex: 1;
  font-size: 14px;
}
#stats #statsSection .stats-fix-icon {
  font-size: 25px;
  margin-top: -7px;
}
#stats #statsSection .stats-fix-icon.danger {
  color: #e74c3c;
}
#stats #statsSection .stats-fix-icon.warning {
  color: #f1c40f;
}
#stats #statsSection .error-wrapper {
  display: flex;
}
#stats #statsSection .error-name {
  flex: 1;
}
#stats #statsSection .stats-error-icon {
  font-size: 25px;
  color: #e74c3c;
  margin-top: -7px;
}
#stats #statsSection .link-button {
  background-color: #e7ecfc;
  color: #365aa2;
  border: 1px solid #365aa2;
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 4px;
  font-weight: 500;
  margin: 9px 0 6px 0;
  padding: 6px;
}
#stats #statsSection .link-button:hover {
  text-decoration: none;
  color: #3264fc;
  border: 1px solid #2d5ef2;
}
